<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Nooben Source</title>
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled">Disabled</a>
      </nav>
    </div>
    <main>
      <section>
        <div class="container">
          <div class="row">
            <% for (let r of repos) { %>
            <div class="col-sm-12 col-md-5 col-xl-3 border rounded m-2 p-4">
              <h2 class="text-break"><%= r.task %></h2>
              <p class="text-break">
                Description:<br />
                <%= r.description.split(" ").slice(0, 15).join("") + "..." %>
              </p>
              <p class="text-break">
                Language:<br />
                <%= r.language %>
              </p>
              <p class="text-break">
                User:<br />
                <%= r.user %>
              </p>
              <p class="text-break">
                Link:<br />
                <a href="<%= r.url %>"><%= r.url %></a>
              </p>
            </div>
            <% } %>
          </div>
        </div>
      </section>
    </main>
    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
